{{#licenseInfo}}
{{licenseInfo}}
{{/licenseInfo}}
package {{package}};

import lombok.Data;
import lombok.Builder;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;

{{#additionalModelTypeAnnotations}}
{{.}}
{{/additionalModelTypeAnnotations}}
public class {{classname}} {
{{#vars}}
  private {{datatype}} {{name}};
{{/vars}}
}
